# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
build
dep_pkg
tools/build_all.sh 
tools/crono_common.cmake
# README of crono_project_tools
tools/README.md 
conanmanifest.txt
conanbuildinfo.txt
conaninfo.txt
deploy_manifest.txt
